<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Login</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
</head>
<body>
<br>
<h1 style="text-align: center">Admin Login</h1>

{% for message in messages %}
    <div id="alerts" class="container">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <p style="text-align: center"><kbd style="background-color: #974242;">{{ message }}</kbd></p>
        {% elif  message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p style="text-align: center"><kbd style="background-color: darkseagreen">{{ message }}</kbd></p>
        {% endif %}
    </div>
{% endfor %}

<form method="POST" style="width: 75%; margin-left: auto; margin-right: auto">
    {% csrf_token %}
    <fieldset>
        <label>
            username (format: firstname.lastname - all lowercase)
            <input
                    name="username"
                    placeholder="username"
                    autocomplete="username"
                    required
            />
        </label>
        <label>
            password
            <input
                    type="password"
                    name="password"
                    placeholder="password"
                    autocomplete="password"
                    required
            />
        </label>
    </fieldset>

    <input
            type="submit"
            value="Login"
    />
</form>
</body>
</html>